<!DOCTYPE html>
<html>
    <head>
        <title>I Wanna Tourney</title>
        <link rel="stylesheet" href="stylesheet.css">
        <meta charset="UTF-8">
        <link rel="icon" href="img/icon.png" type="image/png">

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Coda&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div id="app">
            <div class="title">
                <img class="logo" src="img/kid.png">
                <img class="logo" src="img/logo.png">
            </div>
            <div class="content">
                <div class="tab-button-container">
                    <div class="tab-button active" id="tababout" onclick="clickTab('about')"><p>About</p></div>
                    <div class="tab-button" id="tabgames" onclick="clickTab('games')"><p>Games</p></div>
                    <div class="tab-button" id="tabmakers" onclick="clickTab('makers')"><p>Makers</p></div>
                </div>
                <div class="tab-container">

                    <div class="tab" id="about">
                        <h1>About</h1>
                        <div class="about">
                            Hello everyone!
                            The I Wanna Tourney is a MASSIVE collaboration between arzztt and a TON of different makers.
                            We have a lot of different games, including adventure games both big and small, needle games, avoidance games, and of course the coveted "luck" games.
                            Many different creative styles from all of our spectacular game makers, I hope you will all enjoy participating in this event, we tried to make it the best we could!
                            <br><br>
                            
                            But what exactly is the I Wanna Tourney?
                            It is a long multi-week event that will span from November 13th to March 12th.
                            Every Saturday at 12PM EST the I Wanna Tourney website will be updated to include that week's game(s)!
                            Typically it will be 2 games a week from different genres, but there will be a few single game weeks if certain fangames are too big.
                            Next to each game will be the ranking criteria, which can range from a wide variety of possibilities, but it will typically boil down to either blind playthrough fastest time or least deaths.
                            However there will be special exceptions for many games, so stay on the lookout for those!
                            <br><br>
                            
                            As soon as the site is updated with new games, you will have until Thursday at 12:00PM EST to submit your screenshots in the submission form.
                            Only your first blind playthrough of the game will be counted for ranking, unless specified differently for certain weeks.
                            If you rank in the top 3 spots, you will need video proof to back up your screenshot (if the ranking criteria is fastest time, then you will also need a live timer captured alongside the game).
                            Also these games are meant to be played blind, which means having not seen the game prior to playing it yourself.
                            We will be watching videos to look for suspicious activity.
                            So tl;dr, you have until Thursday 12:00PM EST to submit your runs to be ranked on the leaderboards.
                            <br><br>

                            <div class="centered-flex">
                                <a class="button" href="https://discord.gg/FPgrWerTnn" target="_blank">
                                    <img class="download-icon" src="img/icon/discord.png">
                                    Discord server
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="tab" id="games">
                        <h1>Games</h1>

                        <div class="game-container">

                            <h3>Current Games</h3>
                            <p style="text-align: center;">Submit your times until Thursday at 12PM EST. (<span id="submitTimer">0:00:00:00</span>)</p>
                            <game-item
                                v-for="item in currentList"
                                v-bind:game="item"
                                v-bind:key="item.id"
                            ></game-item>
                            <p v-if="previewList.length == 0" style="text-align: center;">Next week's previews will usually be posted on Monday!</p>
                            <p style="text-align: center; margin: 0;">🎅</p>

                            <div v-if="previewList.length > 0">
                                <h3>Next week's games</h3>
                                <p style="text-align: center;">New games release every Saturday at 12PM EST.</p>
                                <game-item
                                    v-for="item in previewList"
                                    v-bind:game="item"
                                    v-bind:key="item.id"
                                ></game-item>
                            </div>

                            <h3>Past Games</h3>
                            <game-item
                                v-for="item in gameList"
                                v-bind:game="item"
                                v-bind:key="item.id"
                            ></game-item>

                        </div>
                    </div>

                    <div class="tab" id="makers">
                        <h1>Makers</h1>
                        <div class="maker-container">
                            <maker
                                v-for="item in makerList"
                                v-bind:maker="item"
                                v-bind:key="item.id"
                            ></maker>
                        </div>
                        <h2>Event art</h2>
                        <div class="maker-container">
                            <maker
                                v-for="item in alex"
                                v-bind:maker="item"
                                v-bind:key="item.id"
                            ></maker>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </body>

    <script src="script.js?v=17"></script>
</html>