<!DOCTYPE html>
<html>
    <head>
        <title>I Wanna Tourney</title>
        <link rel="stylesheet" href="stylesheet.css">
        <meta charset="UTF-8">
        <link rel="icon" href="img/icon.png" type="image/png">

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Coda&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div id="app">
            <div class="title">
                <img class="logo" src="img/kid.png">
                <img class="logo" src="img/logo.png">
            </div>
            <div class="content">
                <div class="tab-button-container">
                    <div class="tab-button" id="tababout" onclick="clickTab('about')"><p>About</p></div>
                    <div class="tab-button" id="tabgames" onclick="clickTab('games')"><p>Games</p></div>
                    <div class="tab-button" id="tabmakers" onclick="clickTab('makers')"><p>Makers</p></div>
                </div>
                <div class="tab-container">

                    <div class="tab" id="about">
                        <h1>About</h1>
                        <div class="about">
                            Hello everyone!
                            The I Wanna Tourney is a MASSIVE collaboration between me and a TON of different makers.
                            We have a lot of different games, including adventure games both big and small, needle games, avoidance games, and of course the coveted "luck" games.
                            Many different creative styles from all of our spectacular game makers, I hope you will all enjoy participating in this event, we tried to make it the best we could!
                            <br><br>

                            <h3>Rules</h3>
                            The I Wanna Tourney is a long multi-week event that will span from <code>[whenever]</code> to <code>[whenever]</code>.
                            Every Saturday at 12PM EST the I Wanna Tourney website will be updated to include that week's game(s)!
                            Typically it will be 2 games a week from different genres, but there will be a few single game weeks if certain fangames are too big.
                            Next to each game will be the ranking criteria, which can range from a wide variety of possibilities, but it will typically boil down to either blind playthrough fastest time or fewest deaths.
                            However there will be special exceptions for many games, so stay on the lookout for those!      
                            <br><br>

                            As soon as the site is updated with new games, you will have until Thursday at 12:00PM EST to post your screenshots in that week's submission channels.
                            Only your first playthrough of the game will be counted for ranking, unless specified differently for certain weeks.
                            If you rank in the top 3 spots, you will need video proof to back up your screenshot.
                            Also these games are meant to be played blind, which means having not seen the game prior to playing it yourself.
                            We will be watching videos to look for suspicious activity.
                            So tl;dr, you have until Thursday 12:00PM EST to submit your runs to be ranked on the leaderboards.
                            <br><br>

                            If you want to participate in the fun then please, join the discord!
                            It's where all ranking submissions will be held! <code>[Discord link]</code>
                        </div>
                    </div>

                    <div class="tab" id="games">
                        <h1>Games</h1>
                        <div class="game-container">
                            <game-item
                                v-for="item in gameList"
                                v-bind:game="item"
                                v-bind:key="item.id"
                            ></game-item>

                            <div class="game">
                                <img src="img/game/preview.png" class="game-thumbnail">
                                <div class="game-info-container">
                                    <div class="game-title-tags">
                                        <span class="game-title">???</span>
                                    </div>
                                    <p class="game-makers">???</p>
                                    <p class="game-description"><br></p>
                                </div>
                                <div href="" class="download-button countdown" id="nextTimer" target="_blank">0:00:00</div>
                            </div>
                        </div>
                    </div>

                    <div class="tab" id="makers">
                        <h1>Makers</h1>
                        <div class="maker-container">
                            <maker
                                v-for="item in makerList"
                                v-bind:maker="item"
                                v-bind:key="item.id"
                            ></maker>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </body>

    <script src="script.js"></script>
</html>