<!DOCTYPE html>
<html>
    <head>
        <title>I Wanna Tourney</title>
        <link rel="stylesheet" href="stylesheet.css">
        <meta charset="UTF-8">
        <link rel="icon" href="img/icon.png" type="image/png">

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Coda&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div id="app">
            <div class="title">
                <img class="logo" src="img/kid.png">
                <img class="logo" src="img/logo.png">
            </div>
            <div class="content">
                <div class="tab-button-container">
                    <div class="tab-button" id="tababout" onclick="clickTab('about')"><p>About</p></div>
                    <div class="tab-button" id="tabgames" onclick="clickTab('games')"><p>Games</p></div>
                    <div class="tab-button" id="tabmakers" onclick="clickTab('makers')"><p>Makers</p></div>
                </div>
                <div class="tab-container">

                    <div class="tab" id="about">
                        <h1>About</h1>
                        <p>Nothing useful here yet :)</p>
                    </div>

                    <div class="tab" id="games">
                        <h1>Games</h1>
                        <div class="game-container">
                            <game-item
                                v-for="item in gameList"
                                v-bind:game="item"
                                v-bind:key="item.id"
                            ></game-item>

                            <div class="game">
                                <img src="img/game/preview.png" class="game-thumbnail">
                                <div class="game-info-container">
                                    <div class="game-title-tags">
                                        <span class="game-title">???</span>
                                    </div>
                                    <p class="game-makers">???</p>
                                    <p class="game-description"><br></p>
                                </div>
                                <div href="" class="download-button countdown" id="nextTimer" target="_blank">0:00:00</div>
                            </div>
                        </div>
                    </div>

                    <div class="tab" id="makers">
                        <h1>Makers</h1>
                        <div class="maker-container">
                            <maker
                                v-for="item in makerList"
                                v-bind:maker="item"
                                v-bind:key="item.id"
                            ></maker>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </body>

    <script src="script.js"></script>
</html>