:root {
    --background-color: hsla(0, 0%, 100%, 1);

    --button-color: hsla(0, 0%, 95%, 1);
    --button-color-highlight: hsla(0, 0%, 80%, 1);
    --button-underline-color: hsla(30, 100%, 60%, 1);
    
    --game-color: hsla(0, 0%, 90%, 1);
    --download-color: hsla(0, 0%, 85%, 1);
    --download-color-highlight: hsla(0, 0%, 75%, 1);

    --button-transition: 0.2s;
    --border-radius: 12px;
}

body {
    padding: 0 min(120px, 10%) 40px min(120px, 10%);
    background-image: url("img/pattern.png");

    font-family: 'Courier New', Courier, monospace;
}

.title {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.logo {
    margin: 0 20px;
    user-select: none;
    height: calc(10vw + 64px);
}

.content {
    padding: 20px;

    background-color: var(--background-color);
    border-radius: var(--border-radius);
}

.tab-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tab-button {
    margin: 0 10px;
    padding: 10px;
    min-width: 180px;

    text-align: center;
    font-size: large;
    font-weight: bold;

    background-color: var(--button-color);
    border-radius: var(--border-radius);
    user-select: none;
    cursor: pointer;
    transition: var(--button-transition);
}

@media (max-width: 1280px) {
    .tab-button-container {
        flex-flow: column;
    }
    .tab-button {
        flex-grow: 1;
        margin: 4px 10px;
    }
}

.tab-button:hover {
    background-color: var(--button-color-highlight);
}

.tab-button.active {
    box-shadow: var(--button-underline-color) 0px -5px inset;
}

.tab {
    display: none;
}

h1 {
    text-align: center;
}

.gamecontainer {
    display: flex;
    flex-flow: column nowrap;
}

.game {
    margin: 10px calc(25% - 100px);
    padding: 12px;

    border-radius: var(--border-radius);
    background-color: var(--game-color);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-thumbnail {
    width: 120px;
    height: 80px;
    border-radius: var(--border-radius);
}

.game-info-container {
    flex-grow: 1;
}

.game-title-tags {
    padding: 0 20px;
    display: flex;

    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.game-title {
    margin: 0 10px;
    text-align: center;
    font-weight: bold;
}

.game-tag {
    margin: 0 10px;
    padding: 3px 8px;

    color: white;
    font-weight: bold;
    border-radius: var(--border-radius);
    user-select: none;
}

.game-tag.needle {
    background-color: red;
}

.game-tag.adventure {
    background-color: green;
}

.game-tag.avoidance {
    background-color: blue;
}

.game-makers {
    margin: 8px 0;
    padding: 0 40px;
    font-style: italic;
    text-align: center;
}

.game-description {
    margin: 8px 0;
    padding: 0 40px;
    text-align: justify;
}

@media (max-width: 1280px) {
    .game {
        flex-direction: column;
        margin: 10px 10px;
    }
    .game-info-container {
        margin: 10px 0;
    }
    .game-title-tags {
        padding: 0;
    }
    .game-makers {
        padding: 0;
    }
    .game-description {
        padding: 0;
    }
}

.download-button {
    width: 120px;
    padding: 12px;

    background-color: var(--download-color);
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--button-transition);
    user-select: none;
    cursor: pointer;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.download-button:hover {
    background-color: var(--download-color-highlight);
}

.download-icon {
    margin: 0 10px 0 0;
}