:root {
    --background-color: hsla(0, 0%, 100%, 1);

    --button-color: hsla(0, 0%, 95%, 1);
    --button-color-highlight: hsla(0, 0%, 80%, 1);
    --button-underline-color: hsla(30, 100%, 60%, 1);
    
    --game-color: hsla(0, 0%, 90%, 1);
    --download-color: hsla(0, 0%, 85%, 1);
    --download-color-highlight: hsla(0, 0%, 75%, 1);

    --button-transition: 0.2s;
    --border-radius: 0.8rem;
}

body {
    padding: 0 calc(10% - 2em) 3em calc(10% - 2em);
    background-image: url("img/pattern.png");

    font-family: 'Coda', cursive;
    font-size: 16px;
}

@media only screen and (max-width: 992px) {
    body {
        font-size: 24px;
    }
}

.title {
    margin: 3em 0;
    display: flex;
    justify-content: center;
}

.logo {
    margin: 0 1.5em;
    user-select: none;
    height: calc(10vw + 4em);
}

.content {
    padding: 1.5em;

    background-color: var(--background-color);
    border-radius: var(--border-radius);
}

.tab-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tab-button {
    margin: 0 0.4em;
    width: 10em;
    height: 4em;

    font-size: 1.25em;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--button-color);
    border-radius: var(--border-radius);
    user-select: none;
    cursor: pointer;
    transition:
        background-color var(--button-transition),
        box-shadow var(--button-transition);
}

@media (max-width: 1280px) {
    .tab-button-container {
        flex-flow: column;
    }
    .tab-button {
        width: auto;
        flex-grow: 1;
        margin: 0.25em 0.6em;
    }
}

.tab-button:hover {
    background-color: var(--button-color-highlight);
}

.tab-button.active {
    box-shadow: var(--button-underline-color) 0px -0.25em inset;
}

.tab {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

.about {
    text-align: justify;
    padding: 0 8rem;
}

.game-container {
    display: flex;
    flex-flow: column nowrap;
}

.game {
    margin: 0.6em calc(25% - 6.25em);
    padding: 0.75em;

    border-radius: var(--border-radius);
    background-color: var(--game-color);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-thumbnail {
    width: 7.5rem;
    height: 5rem;
    border-radius: var(--border-radius);
}

.game-info-container {
    flex-grow: 1;
}

.game-title-tags {
    padding: 0 1.2rem;
    display: flex;

    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.game-title {
    margin: 0 0.6rem;
    text-align: center;
    font-weight: bold;
}

.needle,
.adventure,
.avoidance
{
    margin: 0 0.6rem;
    padding: 3px 8px;

    color: white;
    font-weight: bold;
    border-radius: var(--border-radius);
    user-select: none;
}

.needle {
    background-color: red;
}

.adventure {
    background-color: green;
}

.avoidance {
    background-color: blue;
}

.game-makers {
    margin: 0.5rem 0;
    padding: 0 2.5rem;
    font-style: italic;
    text-align: center;
}

.game-description {
    margin: 0.5rem 0;
    padding: 0 2rem;
    text-align: justify;
}

@media (max-width: 1280px) {
    .about {
        padding: 0;
    }
    .game {
        flex-direction: column;
        margin: 0.6rem 0.6rem;
    }
    .game-info-container {
        margin: 0.6rem 0;
    }
    .game-title-tags {
        padding: 0;
    }
    .game-makers {
        padding: 0;
    }
    .game-description {
        padding: 0;
    }
}

.download-button {
    width: 6.5rem;
    padding: 0.75rem;

    background-color: var(--download-color);
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--button-transition);
    user-select: none;
    cursor: pointer;
    flex-shrink: 0;
    text-decoration: none;
    color: black;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.download-button.countdown {
    cursor: default;
}

.download-button:hover {
    background-color: var(--download-color-highlight);
}

.download-icon {
    margin: 0 0.6rem 0 0;
}

.maker-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.maker {
    padding: 0.25em;
    display: flex;
    flex-direction: row;
}

.maker-icon {
    margin: 0.25em 0.5em;
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

.maker-info {
    width: 15em;
    margin: 0.25em 0.5em;
    display: flex;
    flex-flow: column nowrap;
}

.maker-name {
    font-size: 2em;
    font-weight: bold;
}

.maker-links {
    margin-left: 0.5em;
    display: flex;
    flex-flow: row nowrap;
}

.maker-link-icon {
    width: 1.5em;
    height: 1.5em;
}